body, ul, li, h4{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ccc
}
h1 {
    text-align: center;
}
li{
    width: 130px;
}
.menu li a:hover{
    background-color: #d48610;
    color: rgb(70, 61, 59);
}
a{
    text-decoration: none;
    color: #fff;
}
.header{
    background-color: #521c1c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 15px;

}
.menu li a{
    display: block;
    padding: 12px;
    background-color: rgb(182, 49, 49);
}
.header img{
    border-radius: 100%;
    width: 60px;
    height: auto;
    
}
.container{
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}
.item{
    background-color: #521c1c ;
    color: #fff;
    padding: 20px;
    margin: 5px;
    width: 300px;
}
.item:hover{
    background-color: #d48610;
    color:rgb(70, 61, 59) ;
}
img{
    width: 295px;
    height: 180px;
}

.legenda{
    text-align: center;
}

